ul :nth-child(2) a {
    color: #1A61B7 !important;
}

.title{
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title h1{
    text-transform: uppercase;
    color: #111;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 500;
    /* margin-top: 4rem; */

}

.content1 h2{
    text-transform: uppercase;
    font-weight: 400;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-bottom: 1.5rem;
    
}

.content .textBox p{
    font-weight: 300;
    /* text-indent: 1.5em; */
    color: rgba(0, 0, 0, 0.829);
    text-align: justify;
    line-height: 1.6em;
}




.content .textBox h2{
    color: #111;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
}

.content .textBox h2 span{
    font-size: 2em;
}

.content .textBox p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.829);
    text-align: justify;
    line-height: 1.6em;
}

.content .imgBox{
    width: 600px;
    display: flex;
    /* padding-right: 50px; */
    /* margin-top: 0px; */
    justify-content: flex-end;
}

.content1{
    width: 100%;
    margin-bottom: 1.5rem;
}
.content1  h2{
    color: #111;
    line-height: 1.5em;
    font-weight: 400;
}

.content1 .textBox p{
    font-weight: 300;
    /* text-indent: 1.5em; */
    color: rgba(0, 0, 0, 0.829);
    text-align: justify;
    line-height: 1.6em;
}

.content1 .textBox1 p{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.829);
    text-align: center;
    line-height: 1.6em;
}

.content1 .imgBox1 {
    margin: 1.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 .imgBox1 img{
    margin-right: 2rem;
    color: gray;
}

.content1 .imgBox{
    text-align: center;
}

.content1 .imgBox p{
    margin-top: 0.5rem;
    font-weight: 100;
    font-size: 0.9em;
}

.title-1{
    /* padding-top: 50px; */
    /* padding-bottom: 100px; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.title-1 h2{
    color: #111;
    line-height: 1.5em;
    font-weight: 400;
}

.content1 .caption{
    display: flex;
    /* background-color: rebeccapurple; */
}
.content1 .caption h2{
    font-size: 1.6rem;
    width: fit-content;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(53,167,255,1) 16%, rgba(71,181,223,1) 25%, rgba(100,203,173,1) 53%, rgba(169,255,53,1) 88%, rgba(169,255,53,1) 94%);

}

.content1 h3{
    margin: 1rem 0rem;
    font-weight: 500;

    width: fit-content;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(169,255,53,1) 16%, rgba(169,255,53,1) 25%, rgba(169,255,53,1) 53%, rgba(71,181,223,1) 88%, rgba(71,181,223,1) 94%);

}

.content1 summary {padding: 10px 0 10px 10px;
    background: linear-gradient(90deg, rgba(53,167,255,1) 50%, rgba(53,121,255,1) 100%);

}

.content1 details summary .vigorosa{
    background-color: #FF9035;
}
.content1 summary .teste{
    background-color: #FF4735 !important;
}
.content1 details {
    margin-top: 1rem;
    color: #fff;

    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
}

.content1 details .textBox{
    background-color: #d6f6ff4b;
    padding: 0 1rem;
    border-radius: 5px;
}

.content1 .textBox p{
    font-weight: 300;
    /* text-indent: 1.5em; */
    color: rgba(0, 0, 0, 0.829);

    text-align: justify;
    line-height: 1.6em;
    margin-top: 15px;
    width: 100%;
}


section{
    /* position: relative; tudo que estiver dentro do section vai ser relativo a ele quando aplicarmos absolute =  */
    width: 100%;
    /* min-height: 100vh; altura do section vai ocupar no mimino a tela tola */
    /* padding:15px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* transition: 0.5s; */
    transition: 0.5s;
    background-color: #d6f6ff4b;
}

