ul :nth-child(1) a {
    color: #1A61B7 !important;
}
.content{
 
    position: relative;
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.content .imgBox{
    width: 30%;
    display: flex;
    justify-content: center;
}

.content .imgBox img{
  width: 250px;
}

.content .textBox{
    position: relative;
    max-width: 650px;

}

.content .textBox h1{
    color: black;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.content .textBox p{
    text-align: justify;
}

/* .conteiner .textBox .button{
    display: flex;
    justify-content: center;
} */

.content .textBox .button a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #35A7FF;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .textBox .button a:hover{
    color: #D6F6FF;
    background-color: #2682DB;
    transition: 0.5s;
}

/* header ul li a:hover{
    color: #1A61B7;
} */


section{
    position: relative; /* tudo que estiver dentro do section vai ser relativo a ele quando aplicarmos absolute = */ 
    width: 100%;
    min-height: 100vh; /*altura do section vai ocupar no mimino a tela tola */
    padding:15px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    /* background-color: #d6f6ff4b; */
}