ul :nth-child(1) a {
    color: #1A61B7 !important;
}
.content{
 
    position: relative;
    width: 100%;
    margin-top: 1em;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.content .imgBox{
    width: 30%;
    display: flex;
    justify-content: center;
}

.content .imgBox img{
  width: 250px;
}

.content .textBox{
    position: relative;
    max-width: 600px;

}

.content .textBox h1{
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.content .textBox p{
    text-align: justify;
}

/* .conteiner .textBox .button{
    display: flex;
    justify-content: center;
} */

.content .textBox .button a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #35A7FF;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .textBox .button a:hover{
    color: #D6F6FF;
    background-color: #2682DB;
    transition: 0.5s;
}

/* header ul li a:hover{
    color: #1A61B7;
} */


